.dragArea{
    height: 500px;
}

.dragTarget {
    height: 200px;
    width: 200px;
    background-color: #000000;
    border: 1px solid #666666;
    color: #ffffff;
    padding: 10px;
    position: absolute;
    cursor: -webkit-grab;
}