

.hoverzoom {

}
.hoverzoom img {
    display: block;
}

.hoverzoom-flyout{
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: 1px solid lightgray;
    padding: 5px;
    overflow: hidden;
}

.container-fluid .thumbnail {
  padding: 20px;
}